{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="{% static 'dveri/img/logo.ico' %}" type="image/x-icon">
	<title>Двери в {{ visitka.city_title }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'dveri/style.css' %}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'dveri/calc.js' %}"></script>
</head>

<body>
	<!-- Изображение на заднем фоне -->
	<div class="container-fluid p-0 back-img" >
	</div>
	<div class="container pt-4">
		<div class="row">
			<div class="col-sm">
				<div class="container-fluid p-0">
					<div class="row">
						<div class="col-sm p-0">
							<!-- Логотип -->
							<div class="d-flex justify-content-sm-start justify-content-center">
								<img src="{{ visitka.logo.url }}"> 
							</div>

						</div>
						<div class="col-sm">
							<!-- Адресс -->
							<div class="d-flex justify-content-sm-start justify-content-center">
								<table>
									<tr>
										<td><img src="{% static 'dveri/img/geo-48.png' %}" class="d-sm-block d-none"></td>
										<td>{{ visitka.adress }}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<!-- Блок с контентом -->
						<div class="col" style="height: 800px; border: 4px double black; margin-top: 30px; ">
							<a href="/{{ url_name }}/contact">Оставить заявку</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 p-0">
			<div class="container-fluid">
				<div class="row justify-content-lg-end justify-content-center">
					<!-- Номер телефона -->
					<table style="text-align: right;">
						<tr>
							<td>
								<a href="https://vvs-soft.ru"><img src="{% static 'dveri/img/tel-orange.png' %}" ></a>
								{{ visitka.mobile_number }}
							</td>
						</tr>
						<tr>
							<td>
								<a href="https://vvs-soft.ru">Заказать звонок</a>
							</td>

						</tr>
					</table>				

				</div>
				<div class="row ">
					<img src="{% static 'dveri/img/dver4.png' %}" class="img-fluid" style="padding: 70px; margin-top: 0px; ">
				</div>
			</div>

		</div>
	</div>
</div>
</body>
</html>