/* Карточки с вариантами  */
.radio-card {
  width: 18rem;
  margin: 1rem;
}

.radio-card:hover {
  box-shadow: 0 0 5px 2px;
}

.radio-card label {
cursor:  pointer;
}

.radio-card label input {
display: none;
}

/* Кнопка Далее  */
#continue-btn {
  border-radius: 2.25rem;
  padding: 10px 30px 10px 30px;
  font-size: 20px;
}

/* кнопка "Подтвердить"  */
#submit-btn {
  border-radius: 2.25rem;
  padding: 10px 30px 10px 30px;
  font-size: 20px;
}
/* кнопка "Назад"  */
#back-btn {
  font-size: 20px;
  border-radius: 2.25rem;
  padding: 10px 15px 10px 15px;
  border-color: #6c757d;
  color: #6c757d;
}

/* Эл-ты выбора способа связи  */
.messenger {
  background-color: #f7f7f7;
  margin: 0.05rem;
  padding: 0.7rem;
  border-radius: 1rem;
  cursor: pointer; 
}

.messenger-label:hover {
  box-shadow: 0 0 5px 2px;
}

.messenger-label {
width: 100%; 
border-radius: 1rem;
margin: 0.5rem;
}

.messenger-label input {
  display: none;
}


/* Поле ввода номера  */ 
.phone-field {
  height: 50px;
  margin-top: 50px;
  border-style: solid;
  outline: none; 
}

.phone-field:focus {  
  border-color: #1e90ff;
}

#id_phone_0 {
  width: 20%;
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: 0; 
}

#id_phone_1 {
  width: 80%; 
  border-radius: 0 0.5rem 0.5rem 0; 
  padding-left: 1rem;
}

footer {
  /* Позиционируем footer внизу main */
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 5px 2px rgba(122,122,122,0.5);
  background-color: #f0f0f1;
}

/* кастомизированный jumbotron  */
.jumbo-custom {
margin:0 auto;
margin-top: 6%;
max-width: 800px;
box-shadow: 0 0 2px;
}