/* Карточки с вариантами  */
.radio-card {
  width: 18rem;
  margin: 1rem;
}

.radio-card:hover {
  box-shadow: 0 0 5px 2px;
}

.radio-card label {
cursor:  pointer;
}

.radio-card label input {
display: none;
}

/* Кнопка Далее  */
#continue-btn {
  border-radius: 2.25rem;
  padding: 10px 30px 10px 30px;
  font-size: 20px;
}

#back-btn {
  font-size: 20px;
  border-radius: 2.25rem;
  padding: 10px 15px 10px 15px;
  border-color: #6c757d;
  color: #6c757d;
}