<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Двери в {{ shop.city|default:"вашем городе"  }}</title>
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
</head>
<body>

<div class="container-fluid" style="height: 100vh; width: 100vw; min-height: 750px;">
  <div class="row" style="height: 100%; ">
    <!-- Часть окна с изображением -->
    <div id="main-image" class="col-lg-7">
        
        <div style="min-height: 200px; width: 100%; ">
            <div class="grid-top">
                <div>
                    <!-- Логотип магазина -->
                    {% if shop.logo %}
                        <img src="{{ shop.logo.url }}">
                    {% else %}
                        <img src="{% static 'img/default_logo.png' %}">
                    {% endif %}
                </div>
                <div >
                    <!-- адрес -->
                    <h3 style="text-align: right; ">{{ shop.address }}</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Часть окна с контентом -->
    <div class="col-lg-5 ">
        <!-- телефон -->
        <h3 style="text-align: center; ">{{ shop.phone }}</h3>
        <div class="d-flex align-items-center" style="height: 100%;">
            <div style="margin: 0 auto;" >
                <div id="black-line"></div>
                <h1>Ответьте на 4 вопроса и подберите межкомнатную дверь</h1>
                <p style="color: #7a7a7a; font-size: 24px;">В конце бонус - полный каталог наших дверей</p>
                <div id = "button-container">
                    <a id="main-button" class="btn btn-secondary custom-btn" href="#" role="button">Подобрать</a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

</body>
</html>