<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Двери в {{ shop.city|default:"вашем городе"  }}</title>
    {% load static %}
    {% load filters %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/selection.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{% static 'script/script.js' %}"></script> 
</head>
<body>

<div class="container-fluid" style="height: 100vh; width: 100vw; min-height: 750px;">
  <!-- СТАРТОВАЯ СТРАНИЦА -->
  <div id="start-page" class="row" style="height: 100%; overflow: hidden; display: none;"> <!-- display: block; -->
    <!-- Часть окна с изображением -->
    <div id="main-image" class="col-lg-7">
        
        <div style="min-height: 200px; width: 100%; ">
            <div class="grid-top">
                <div>
                    <!-- Логотип магазина -->
                    {% if shop.logo %}
                        <img src="{{ shop.logo.url }}">
                    {% else %}
                        <img src="{% static 'img/default_logo.png' %}">
                    {% endif %}
                </div>
                <div >
                    <!-- адрес -->
                    <h3 style="text-align: right; ">{{ shop.address }}</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Часть окна с контентом -->
    <div class="col-lg-5 " id="content-block">
        <!-- телефон -->
        <h3 style="text-align: center; ">
            <a href="tel:{{ shop.phone }}" style="text-decoration: none;">
                <img src="{% static 'img/phone.png' %}">
                {{ shop.phone.as_e164|phone_filter }}
            </a>
        </h3>
        <!-- Контент -->
        <div class="d-flex align-items-center" style="height: 90%;">
            <div style="margin: 0 auto;" >
                <div id="black-line"></div>
                <h1>Ответьте на 4 вопроса и подберите межкомнатную дверь</h1>
                <p style="color: #7a7a7a; font-size: 24px;">В конце бонус - полный каталог наших дверей</p>
                <div id = "button-container">
                    <a id="main-button" class="btn btn-secondary custom-btn" role="button" onclick="btn_action();">Подобрать</a>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- СТРАНИЦА ВЫБОРА -->
  <div id="selection-page" style="height: 100%; display: block; opacity: 1; "> <!-- display: none; opacity: 0; --> 

    <!-- Выбор стиля двери -->
    <h1 style="padding: 1rem;">Какой стиль дверей вам больше нравится?</h1>
    <h4 style="color: #7a7a7a; padding: 1rem;" >Чтобы подобрать подходящие варианты, нам нужно знать ваши предпочтения. Пожалуйста, выберите один из стилей</h4>
    <div class="card-group">
        <div class="card radio-card">
            <label>
                <input type="radio" name="fb" value="classic" />
                <img src="{% static 'img/style/classic.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Классический</h6>
                </div>
            </label>
        </div>
        
        <div class="card radio-card">
            <label>
                <input type="radio" name="fb" value="modern"/>
                <img src="{% static 'img/style/modern.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Современный</h6>
                </div>
            </label>
        </div>

        <div class="card radio-card">
            <label>
                <input type="radio" name="fb" value="loft" />
                <img src="{% static 'img/style/loft.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Лофт</h6>
                </div>
            </label>
        </div>

        <div class="card radio-card">
            <label>
                <input type="radio" name="fb" value="hi_tech" />
                <img src="{% static 'img/style/hi_tech.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Хай тек</h6>
                </div>
            </label>
        </div>

        <div class="card radio-card">
            <label>
                <input type="radio" name="fb" value="another" />
                <img src="{% static 'img/style/another.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Другой</h6>
                </div>
            </div>
        </label>
    </div>

    <a id="continue-btn" class="btn btn-secondary" href="#" role="button" style="float: right; margin: 1rem; ">Далее →</a>

  </div>
</div>

</body>
</html>