<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Двери в {{ shop.city|default:"вашем городе"  }}</title>
    {% load static %}
    {% load filters %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/selection.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{% static 'script/script.js' %}"></script> 
</head>
<body>

<div class="container-fluid" style="height: 100vh; width: 100vw; min-height: 750px;">
  <!-- СТАРТОВАЯ СТРАНИЦА -->
  <div id="start-page" class="row" style="height: 100%; overflow: hidden; display: flex;"> <!-- display: flex; -->
    <!-- Часть окна с изображением -->
    <div id="main-image" class="col-lg-7">
        
        <div style="min-height: 200px; width: 100%; ">
            <div class="grid-top">
                <div>
                    <!-- Логотип магазина -->
                    {% if shop.logo %}
                        <img src="{{ shop.logo.url }}">
                    {% else %}
                        <img src="{% static 'img/default_logo.png' %}">
                    {% endif %}
                </div>
                <div >
                    <!-- адрес -->
                    <h3 style="text-align: right; ">{{ shop.address }}</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Часть окна с контентом -->
    <div class="col-lg-5 " id="content-block">
        <!-- телефон -->
        <h3 style="text-align: center; ">
            <a href="tel:{{ shop.phone }}" style="text-decoration: none;">
                <img src="{% static 'img/phone.png' %}">
                {{ shop.phone.as_e164|phone_filter }}
            </a>
        </h3>
        <!-- Контент -->
        <div class="d-flex align-items-center" style="height: 90%;">
            <div style="margin: 0 auto;" >
                <div id="black-line"></div>
                <h1>Ответьте на 4 вопроса и подберите межкомнатную дверь</h1>
                <p style="color: #7a7a7a; font-size: 24px;">В конце бонус - полный каталог наших дверей</p>
                <div id = "button-container">
                    <a id="main-button" class="btn btn-secondary custom-btn" role="button" onclick="btn_action();">Подобрать</a>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- СТРАНИЦА ВЫБОРА -->
  <div id="selection-page" style="height: 100%; display: none; opacity: 0; "> <!-- display: none; opacity: 0; --> 
    <form action="" method="post">
        {% csrf_token %}

        <div id="content_0" style="display: block;">
            <h1 class="display-4" style="padding: 1rem;">Какой стиль дверей вам больше нравится?</h1>
            <h4 style="color: #7a7a7a; padding: 1rem;" >Чтобы подобрать подходящие варианты, нам нужно знать ваши предпочтения. Пожалуйста, выберите один из стилей</h4>        
            <!-- Выбор стиля двери -->
            <div class="card-group">
                {% for radio in form.type_door %}
                <div class="card radio-card">
                    <label>
                        {{ radio.tag }}

                        {% if radio.choice_label == "Классический" %}
                        <img src="{% static 'img/style/classic.jpg' %}" class="card-img-top" alt="...">
                        {% elif radio.choice_label == "Современный" %}
                        <img src="{% static 'img/style/modern.jpg' %}" class="card-img-top" alt="...">
                        {% elif radio.choice_label == "Лофт" %}
                        <img src="{% static 'img/style/loft.jpg' %}" class="card-img-top" alt="...">
                        {% elif radio.choice_label == "Хай тек" %}
                        <img src="{% static 'img/style/hi_tech.jpg' %}" class="card-img-top" alt="...">
                        {% else %}
                        <img src="{% static 'img/style/another.jpg' %}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h6 class="card-title">{{ radio.choice_label }}</h6>
                        </div>
                    </label>
                </div>         
                {% endfor %}
            </div>
        </div>

        <div id="content_1" style="display: none;">
            <h1 class="display-4" style="padding: 1rem;">Какой оттенок вам подойдёт?</h1>
            <h4 style="color: #7a7a7a; padding: 1rem;" >Для вас мы сможем сделать двери практически любого цвета, различается только срок изготовления и возможные материалы. Пожалуйста, выберите вариант цвета, наиболее подходящий к вашему интерьеру</h4>  

            <!-- Выбор цвета двери -->
            <div class="card-group">
                {% for radio in form.color_door %}
                <div class="card radio-card">
                    <label>
                        {{ radio.tag }}

                        {% if radio.choice_label == "Белый" %}
                        <img src="{% static 'img/color/white.jpg' %}" class="card-img-top" alt="...">
                        {% elif radio.choice_label == "Под дерево" %}
                        <img src="{% static 'img/color/wood.jpg' %}" class="card-img-top" alt="...">
                        {% elif radio.choice_label == "Чёрный" %}
                        <img src="{% static 'img/color/black.jpg' %}" class="card-img-top" alt="...">
                        {% elif radio.choice_label == "Цветной" %}
                        <img src="{% static 'img/color/fresh.jpg' %}" class="card-img-top" alt="...">
                        {% else %}
                        <img src="{% static 'img/color/another.jpg' %}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h6 class="card-title">{{ radio.choice_label }}</h6>
                        </div>
                    </label>
                </div>         
                {% endfor %}
            </div>
        </div> 

        <div id="content_2" style="display: none;">
            <h1 class="display-4" style="padding: 1rem;">Мы рассчитаем стоимость вашей будущей двери</h1>
            <h4 style="color: #7a7a7a; padding: 1rem;" >Наш менеджер в кратчайшие сроки сделает расчёты и предложит вам несколько вариантов</h4> 

            <!-- Выбор способа обратной связи -->
            <div style="margin:0 auto; max-width: 800px;" class="jumbotron">
              <h1 style="text-align: center;">Куда вам отправить сопутствующую информацию?</h1>
              <div class="container">
                  <div class="row">
                    {% for radio in form.feedback %}
                    <div class="col">
                        <label class="messenger-label">
                            {{ radio.tag }}       
                            <div class="messenger row">
                                <div class="col-4">
                                    {% if radio.choice_label == "Telegram" %}
                                        <img src="{% static 'img/feedback/telegram.svg' %}">
                                    {% elif radio.choice_label == "Whatsapp" %}
                                        <img src="{% static 'img/feedback/whatsapp.svg' %}">
                                    {% elif radio.choice_label == "Пришлите СМС" %}
                                        <img src="{% static 'img/feedback/sms.svg' %}">
                                    {% elif radio.choice_label == "Позвоните мне" %}
                                        <img src="{% static 'img/feedback/phone.svg' %}">
                                    {% endif %}
                                </div>
                                <div class="col-8 d-flex align-items-center" >
                                    <div style="width: 100%; text-align: center;">
                                        <p style=" font-size: 1.4rem; ">
                                            {{ radio.choice_label }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                        {% if forloop.counter|module_2 %}
                            <div class="w-100"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> 

    <div id="content_3" style="display: none;">
        <h1 class="display-4" style="padding: 1rem;">Мы рассчитаем стоимость вашей будущей двери</h1>
        <h4 style="color: #7a7a7a; padding: 1rem;" >Наш менеджер в кратчайшие сроки сделает расчёты и предложит вам несколько вариантов</h4> 

        <!-- Ввод мобильного телефона -->
        <div style="margin:0 auto; max-width: 800px;" class="jumbotron">
            <h1 style="text-align: center;">Для получения стоимости двери оставьте свои контакты:</h1>
            {{ form.phone }}
        </div>
    </div>

        <input id="submit-btn" type="submit" value="Подтвердить" class="btn btn-secondary" role="button" style="display: none; float: right; margin: 1rem;">
        <a id="continue-btn" class="btn btn-secondary" role="button" onclick="next_btn(this);" style="float: right; margin: 1rem; ">Далее 🡢</a>
        <a id="back-btn" class="btn btn-light" role="button" onclick="back_btn();" style="float: right; margin: 1rem; ">🡠</a>
    </form>
  </div>
</div>

</body>
</html>